body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  height: 100vh;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.wavel {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* media query ketika dibuka di mobile */
@media (max-width: 567px) {
  .btn-github {
    width: 90%;
  }

  .navbar {
    background-color: black !important;
  }
}
